
<div class="game">
  <h1>The Attentive Reader</h1>



   <% if @image.nil? %>
      <p class="article">Today's article is: "<%= @game.article_title %>"</p>

 <p class="instructions">
         Do you read The New York Times carefully or merely skim its contents?
Let's see...</br>Click on the one image belonging to the article below.
         <br>
      </p>

      <% @game.photos.shuffle.each do |photo| %>
         <%= link_to image_tag(photo.image_url), {
            :controller => "games",
            :action => "show",
            :image_id => photo.id
         } %>
      <% end %>


   <% elsif @image.article_url == @game.article_url %>
      <h1 class="result">Yes, you really are an attentive reader.</h1>
      <iframe src="<%= @game.article_url %>" width="1024" height="768"></iframe>
   <% else %>
      <h1 class="result">Read the paper more closely.</h1>
      <iframe src="http://nytimes.com" width="1024" height="768"></iframe>
   <% end %>

</div>
