body{
background-color:#000000;
color:#FFFFFF;
font-family: 'Gilda Display', serif;
}

img{
width: 200px;
height: 200px;
margin-left:50px;
border: 2px solid;
border-radius:25px;
margin-top:50px;
}

a{
 text-decoration: none;
 color:Red;
}

h1{/* new york times title*/
    color:#cccccc;
   font-family: 'Gilda Display', serif;
   font-size:54px;
}

h2{
font-size:24px;
 color:#d3d3d3;
}

#user_nav a{
   font-size:12px;
}
